{% extends "base.html" %}
{% block content %}

<div class="about-section">
    <h1>About Us</h1>
    <p>
        We are an AI tool that helps you diagnose skin diseases easily and quickly.
        Our purpose is to provide early and accessible diagnosis so users can get the right treatment sooner.
    </p>

    <br><br>

    <h2>Pembuat</h2>
    <div class="team-list">
        <p>Edward Nicholas Adidjaja — <strong>2802428942</strong></p>
        <p>Darren Christian Pramana — <strong>2802426060</strong></p>
        <p>Nathan Phan — <strong>2802428974</strong></p>
    </div>
</div>

{% endblock %}
