<footer class="footer">
    <div class="footer-col">
        <h2>SkinningAI</h2>
    </div>

    <div class="footer-col">
        <h3>Pages</h3>
        <p><a href="/">Home</a></p>
        <p><a href="/upload">Upload</a></p>
        <p><a href="/about">About Us</a></p>
        <p><a href="/contact">Contact Us</a></p>
    </div>

    <div class="footer-col">
        <h3>Contact</h3>
        <p>support.info@SkinningAI.com</p>
        <p>+62 82146839657</p>
        <p>Tangerang, Indonesia</p>
    </div>

    <div class="footer-col">
        <h3>Follow us</h3>
        <div class="social-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
</footer>
