{% include 'navbar.html' %}

<div class="content">
    <section class="home-container">

        <h1 class="home-title">Welcome, USER</h1>

        <p class="home-subtitle">
            Healthy skin starts with you<br>
            Scan. Detect. Treat.
        </p>

        <a href="/upload" class="home-big-button">
            <span>Start scanning now</span>
            <div class="arrow-circle">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </a>

    </section>
</div>

{% include 'footer.html' %}
