<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-logo">SkinningAI</a>
    </div>

    <div class="navbar-right">
        <a href="/">Home</a>
        <a href="/upload">Upload</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </div>
</nav>
